@import 'variables.scss';

input[type="text"],
input[type="number"],
textarea, input[type="tel"],
input[type="email"] {
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 1px rgba(93,89,83,.2), 0 -1px 0 0 rgba(0,0,0,.06);
  color: $dark_grey;
  background: $light_grey;
  border-radius: 2px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
  line-height: 20px;
  min-height: 30px;
  padding: 5px 8px;
  &:focus {
    background: $white;
    outline: none;
  }
  &.is-danger {
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 1px rgba(229,79,75,.4), 0 -1px 0 0 rgba(0,0,0,.06);
  }
}

label {
  font-size: 12px;
}

.radio, .radios {
  display: inline-block;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

.custom-radio {
  display: inline-block;
  vertical-align: middle;
  background-color: #fbfdfb;
  height: 13px;
  width: 13px;
  border: 3px solid #fbfdfb;
  cursor: pointer;
  margin: -3px 4px 0 0;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.5);
  border-radius: 50%;
  &.checked {
    background-color: $green;
  }
}

.custom-checkbox {
  display: inline-block;
  vertical-align: middle;
  background-color: #fbfdfb;
  height: 13px;
  width: 13px;
  border: 3px solid #fbfdfb;
  cursor: pointer;
  margin: -3px 4px 0 0;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.5);
  border-radius: 1px;
  position: relative;
  &.checked:after {
    font-family: 'FontAwesome';
    content: '\f00c';
    font-size: 12px;
    color: $green;
    position: absolute;
    top: -2px;
    right: -3px;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}