@import 'variables.scss';

#app {
  font-family: "Helvetica Neue",helvetica,Arial,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  color: $dark_grey;
  font-weight: 400;
}

h2 {
  font-size: 23px;
  font-weight: 300;
  color: $grey;
}

h3 {
  font-size: 34px;
  font-weight: 500;
  color: $dark_grey;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  color: $grey;
  font-weight: 400;

}

p {
  font-size: 15px;
  font-weight: 500;
  color: $grey;
}

@media(max-width: 767px) {
  h1 {
    font-size: 34px;
    line-height: 42px;
  }
}